---
type Props = {
  title: string;
  description: string;
  keywords: string[];
  ogImage: string;
  ogTitle: string;
  ogDescription: string;
};

const { title, description, keywords, ogImage, ogTitle, ogDescription } =
  Astro.props as Props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords.join(", ")} />
<meta property="og:image" content={ogImage} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
