---
import clsx from "clsx";
import Section from "@/components/astro/ui/Section.astro";
import Container from "@/components/astro/ui/Container.astro";
import Heading from "@/components/astro/ui/Heading.astro";
import Button from "@/components/astro/ui/Button.astro";
import { Image } from "astro:assets";

type Props = {
  class?: string;
  title?: string;
  subtitle?: string;
  date?: string;
  button?: boolean;
  buttonProps?: {
    class?: string;
    label?: string;
    size?: "xs" | "sm" | "md" | "lg";
  };
  message?: string;
  image?: string;
  featured_image?: string;
  alt?: string;
};

const {
  class: className,
  title,
  subtitle,
  date,
  button,
  buttonProps,
  message,
  image,
  featured_image,
  alt,
} = Astro.props as Props;
---

<Section class={clsx(className)}>
  <Container size="md" class="grid place-items-center gap-4 text-center">
    <!-- Title -->
    <Heading tag="h1" size="display-1" class="leading-[1.2]">{title}</Heading>
    <!-- Subtitle -->
    {
      subtitle && (
        <Heading
          tag="h2"
          size="display-3"
          weight="normal"
          class="max-w-screen-sm text-xl"
        >
          {subtitle}
        </Heading>
      )
    }
    <!-- Date -->
    {date && <time datetime={date}>{date}</time>}
    <!-- Button -->
    {
      button && (
        <div class="mt-10 grid place-items-center gap-3">
          <Button {...buttonProps}>{buttonProps?.label ?? "Button"}</Button>
          <p class="text-sm">{message}</p>
        </div>
      )
    }
  </Container>
  <!-- Image -->
  <Fragment>
    {
      image && (
        <Container size="xl" class="mt-32">
          <Image
            width={1200}
            height={1200}
            src={image}
            alt={alt ?? ""}
            class="h-auto w-full"
          />
        </Container>
      )
    }
    <!-- Featured Image -->
    {
      featured_image && (
        <Container size="xl" class="mt-20 overflow-hidden rounded-[32px]">
          <Image
            width={1200}
            height={1200}
            src={featured_image}
            alt={alt ?? ""}
            class="aspect-[1400/900] w-full object-cover"
          />
        </Container>
      )
    }
  </Fragment>
</Section>
