---
import directus from "@/schemas/directus";
import { readSingleton } from "@directus/sdk";

import Header from "@/components/astro/elements/Header.astro";
import Footer from "@/components/astro/elements/Footer.astro";
import SEO from "@/components/astro/elements/SEO.astro";

type Props = {
  title?: string;
  description?: string;
  keywords?: string[];
  ogImage?: string;
  ogTitle?: string;
  ogDescription?: string;
};

const site = await directus.request(
  readSingleton("global", { fields: ["name", "description"] }),
);

const {
  title = site.name ?? "Astro",
  description = site.description,
  keywords = ["astro", "keywords"],
  ogImage = "/og.png",
  ogTitle = site.name ?? "Astro",
  ogDescription = site.description ?? "Astro",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      ogImage={ogImage}
      ogTitle={ogTitle}
      ogDescription={ogDescription}
    />
  </head>
  <!-- BODY -->
  <body class="flex min-h-screen flex-col">
    <!-- HEADER -->
    <Header>
      <p>Header</p>
    </Header>
    <!-- MAIN -->
    <main class="flex-grow">
      <slot />
    </main>
    <!-- FOOTER -->
    <Footer>
      <p>Footer</p>
    </Footer>
  </body>
</html>
